@media screen and (max-width: 768px) {
    html {
        font-size: 52.5%;
    }


    /* Nav Section Responsive */
    #nav-section {
        box-shadow: none;
    }

    .nav-container {
        flex-direction: column;
        padding: 8.5rem 0;

    }

    .menu-container {
        margin-top: 2.5rem;
        flex-direction: column;
    }

    /* Banner Section Responsive */
    .banner-image-container {
        width: 50%;
        height: 80%;
    }

    .banner-image-container img {
        width: 100%;
        height: 75%;
    }

    /* Gammer Section Responsive */
    .gamer-container {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .image-container {
        width: 100%;
    }


    .gamer-text-container {
        text-align: center;
        width: 100%;
    }

    .quote h1 {
        font-size: 2rem;

    }

    /* Online Games Funny Videos Section Design */
    .videos-container {
        justify-content: center;
        gap: 2rem 2rem;
        align-items: center;
    }

    .video-card {
        width: 100%;
        height: 100%;
    }

    .title-text {
        text-align: center;
        margin: 1rem;

    }

    /* Play Games Online Section */
    .play-online-title {
        font-size: 3rem;
    }



    .catagory-card img {
        width: 35px;
    }

    /* Footer Section Design */
    footer {
        padding: 8rem 0;
    }

    .footer-nav ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem 0;
        text-align: center;
    }

    .footer-social {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem 0;
        margin: 6rem auto;
        text-align: center;
    }

    .footer-privacy {
        text-align: center;
        margin: 5rem auto;
    }

    .footer-privacy ul {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 0;
    }

}


@media screen and (max-width: 576px) {



    /* Banner Section Responsive */
    .header-banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 3rem;

    }

    .banner-titile {
        font-size: 8rem;
        transform: translateX(0rem);
        text-align: center;

    }

    .banner-cta {
        display: flex;
        margin-top: 2.5rem;
        justify-content: center;
        gap: 2rem;
    }

    .banner-image-container {
        width: 100%;
        height: 100%;
    }

    .banner-image-container img {
        width: 100%;
        height: 75%;
    }

    /* Online Games Funny Videos Section Design */
    .title {
        font-size: 3rem;
        color: var(--color-main);
        font-weight: var(--font-bold);
    }

    .sub-title {
        font-size: 1.4rem;
        color: var(--color-grey);
        font-weight: var(--font-regular);
    }

    /* Play Games Online Section */

    .play-games-container {
        flex-direction: column-reverse;
    }

    .play-image-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

    }

    .play-text-container {
        width: 100%;
        text-align: center;
    }

    .play-online-title {
        font-size: 3.8rem;
        margin-bottom: 2rem;

    }


    .sub-play-image {
        position: absolute;
        left: 80%;
        bottom: -48%;
        z-index: 2;
        width: 20%;

    }

    /* Games Catagory Section */

    .catagory-container {

        gap: 0.3rem 1rem;
    }

    .catagory-card {
        gap: 0.5rem;
        border-radius: 3rem;
        padding: 0.3rem;
        font-size: 0.9rem;
        justify-content: flex-start;
        width: 28%;
    }

    .catagory-card img {
        width: 20px;
    }

}