@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Universal Design */
:root {
    --color-main: #0B0223;
    --color-grey: #534C64;
    --linear-start: #FF42A5;
    --linear-end: #D142FF;
    --font-bold: 700;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --text-size-title: 4rem;
    --text-size-sub-title: 1.6rem;
    --text-size-button: 1.4rem;
    --border-radius-main: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}


body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
}

section {
    padding: 0 8%;
}

.container {
    padding: 5% 0;
}


.btn {
    font-size: var(--text-size-button);
    font-weight: var(--font-semi-bold);
    padding: 1.4rem 2.5rem;
    border: none;
    background-color: #4EC5F7;
    color: #ffffff;
    border-radius: 2.5rem;
}

.btn-primary {
    background-image: linear-gradient(to right, var(--linear-start), var(--linear-end), var(--linear-end));
}

.gradient-top {
    background-image: linear-gradient(to bottom, var(--linear-start), var(--linear-start), var(--linear-end), var(--linear-end));
    -webkit-background-clip: text;
    color: transparent;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-size: var(--text-size-title);
    color: var(--color-main);
    font-weight: var(--font-bold);
    margin: 1rem 0;
}

.sub-title {
    font-size: var(--text-size-sub-title);
    color: var(--color-grey);
    font-weight: var(--font-regular);
}


/* Header Navbar Section */
#nav-section {
    box-shadow: 0.1rem 1rem 0.6rem -0.7rem rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}



.menu-container,
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.logo-container span {
    color: #FF42A5;
}

.logo-container img {
    width: 6rem;
    object-fit: cover;
}

.logo-container a {
    color: #0B0223;
    font-size: 3.5rem;
    font-weight: 600;
}

.menu-container a {
    color: var(--color-grey);
    font-size: var(--text-size-sub-title);
    font-weight: var(--font-medium);
}

.menu-container {
    gap: 3rem;
}

.nav-social {
    display: flex;
    background-color: hsl(200, 100%, 6%, 0.1);
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius: var(--border-radius-main);
}

.fa-brands {
    font-size: var(--text-size-button);
    color: #00acee;
}

.fa-youtube {
    color: red;
}

/* Header Banner Section */
.header-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    margin-bottom: 5rem;
}

.banner-sub-title {
    font-size: 3.9rem;
    font-weight: var(--font-semi-bold);

}

.banner-titile {
    font-size: 7rem;
    transform: translateX(-0.4rem);

}

.header-banner-container li {
    color: var(--color-grey);
    font-size: var(--text-size-button);
    font-weight: var(--font-medium);
    margin: 1rem 0;
}

.banner-icon {
    margin-right: 1rem;
    font-size: var(--text-size-button);
}

.banner-cta {
    display: flex;
    margin-top: 2.5rem;
    gap: 2rem;
}

.banner-image-container {
    width: 50%;
    height: 90%;
}

.banner-image-container img {
    width: 100%;
    height: 90%;
}


/* We are Gammer Section Design */
.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 7rem 0;
}

.image-container {
    width: 62%;
}

.gamer-container img {
    width: 100%;
    height: 100%;
}

.gamer-text-container {
    text-align: right;
    width: 40%;
}

.gamer-text-container h1 {
    font-size: var(--text-size-title);
    font-weight: var(--font-bold);
}

.gamer-text-container p {
    font-size: 1.4rem;
    font-weight: var(--font-regular);
    color: var(--color-grey);
    line-height: 2.5rem;
    margin: 2rem 0;
}

.quote {
    margin: 2rem 0;
}

.quote h3 {
    font-size: 2rem;
    font-weight: var(--font-medium);
    color: var(--color-grey);
    margin: 0.8rem;
}

.quote h1 {
    font-size: 2.5rem;
    font-weight: var(--font-bold);
    color: var(--color-grey)
}

/* Online Games Funny Videos Section Design */
.online-videos {
    text-align: center;
}

.title {
    font-size: var(--text-size-title);
    color: var(--color-main);
    font-weight: var(--font-bold);
    margin: 1rem 0;
}

.sub-title {
    font-size: var(--text-size-sub-title);
    color: var(--color-grey);
    font-weight: var(--font-regular);
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 250px));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 7rem 0;
}

.video-card {
    width: 100%;
    height: 100%;
    margin: 2rem 0;

}

.video-card img {
    width: 100%;
    height: 100%;

}

.overly-card-container {
    position: relative;

    border-radius: 1.4rem;
}

.video-card-overly {
    position: absolute;
    width: 99%;
    height: 0;
    overflow: hidden;
    background-color: hsl(0, 0%, 0%, 0.7);
    left: -0.1rem;
    top: -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.4rem;
    transition: all 0.2s ease;
}

.overly-card-icon {
    color: white;
    font-size: 3rem;
}

.overly-card-text {
    color: var(--linear-start) !important;
}

.overly-card-container:hover .video-card-overly {
    height: 98%;
    border: 0.3rem solid var(--linear-start);
}


.title-text {
    text-align: left;
    margin-top: 1rem;
}

/* Play Games Online Section */
.play-games-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 15rem;
}

.play-image-container {
    width: 50%;
}

.play-image-container img {
    width: 100%;
}


.main-play-image {
    max-width: 80%;
}

.play-online-title {
    font-size: 3.8rem;
}

.sub-play-image {
    position: absolute;
    left: 28%;
    bottom: -20%;
    z-index: 2;
    width: 20%;
    height: 60%;
}

.play-text-container {
    width: 40%;
}


/* Games Catagory Section */

.catagory-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.catagory-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 3.5rem;
    padding: 0.7rem;
    font-size: 1.7rem;
    margin: 0.8rem 0;
    font-weight: var(--font-semi-bold);
    justify-content: flex-start;
    width: fit-content;
    border: 0.1rem solid transparent;
    transition: all 0.3s ease-in-out;
    color: var(--color-main);

}

.catagory-card:hover {
    border: 0.1rem solid var(--linear-start);
    background-image: linear-gradient(to bottom, var(--linear-start), var(--linear-end));
    -webkit-background-clip: text;
    color: transparent;
}




.catagory-card img {
    width: 4.5rem;
}


/* Footer Section Design Here */
footer {
    background-color: var(--color-main);
    padding: 7% 0;
    text-align: center;
}


.footer-logo-container span {
    color: #FF42A5;
}

.footer-logo-container img {
    width: 7rem;
    object-fit: cover;
}

.footer-logo-container a {
    color: #FFF;
    font-size: 4rem;
    font-weight: 600;
}

footer ul a {
    color: #FFF;
    font-size: var(--text-size-sub-title);
    font-weight: var(--font-semi-bold);
}

.footer-nav {
    margin: 3rem auto;
    width: 60%;
}

.footer-nav ul {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.footer-social {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 35%;
}

.footer-icon {
    color: #FFFFFF;
    font-size: 3.5rem;
    margin: 1rem 0;
}


.footer-privacy {
    margin: 3rem auto;
    width: 55%;
}

.footer-privacy ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-privacy a {
    color: hsl(0, 0%, 100%, 0.6);
    font-weight: var(--font-medium);
}

.footer-copyright {
    text-align: center;
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%, 0.6)
}